# Backend server port
PORT=3001

# MongoDB Connection String
MONGODB_URI=your_mongodb_uri

# Strava API Configuration
STRAVA_CLIENT_ID=your_strava_client_id
STRAVA_CLIENT_SECRET=your_strava_client_secret
STRAVA_REDIRECT_URI=http://localhost:3001/api/auth/strava/callback

# JWT Secret for Auth
JWT_SECRET=your_jwt_secret

# Frontend URL (for CORS)
VITE_APP_URL=http://localhost:5173
